In [1]:
#import necessary libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
from urllib.request import urlopen
import ssl
import regex as re

ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

#### Filtered jobs related to Python
#### Source: 
###### https://www.timesjobs.com/candidate/job-search.html?from=submit&actualTxtKeywords=python&searchBy=0&rdoOperator=OR&searchType=personalizedSearch&luceneResultSize=25&postWeek=60&txtKeywords=python&pDate=I&sequence=2&startPage=1

In [2]:
lists=[]
#iterate for first 20 pages
for i in range(1,20):
    html_text=requests.get('https://www.timesjobs.com/candidate/job-search.html?from=submit&actualTxtKeywords=python&searchBy=0&rdoOperator=OR&searchType=personalizedSearch&luceneResultSize=25&postWeek=60&txtKeywords=python&pDate=I&sequence=2&startPage={}'.format(i)).text
    

    soup=BeautifulSoup(html_text,'lxml')
    
    jobs=soup.find_all('li',class_='clearfix job-bx wht-shd-bx')
    
    for job in jobs:
        locations=job.find_all('ul',class_="top-jd-dtl clearfix")
        skills=job.find_all('ul',class_="list-job-dtl clearfix")
        companies=job.find_all('header' ,class_="clearfix")
        date=job.find_all('span',class_='sim-posted')
        
        for company in companies:
            company_name=company.find('h3',class_='joblist-comp-name').text.replace(' ','').replace('\r\n','')
            more_info=company.find('h2').a['href'].replace('\r\n','')
            
        for skill in skills:
            key_skill=skill.find('span', class_="srp-skills").text.replace(' ','').replace('\r\n','')
            

        for location in locations:
            exp=location.find('li').text[10:]
            loc=location.find('span').text.replace(' ','').replace('\r\n','')
            
        for s in date:
            posted=s.find('span').text
            #print(posted)
        
        lists.append([company_name,loc,exp,posted,key_skill,more_info])

In [3]:
import pandas as pd
df=pd.DataFrame(lists,columns=['company_name','location','experience','posted_date','skills','more_info'])

In [4]:
df.head()

,company_name,location,experience,posted_date,skills,more_info
0,TandAHRSolutions,Mohali,l3 - 5 yrs,Posted few days ago,"Djangoframework,PythonDeveloper,corepython\n",https://www.timesjobs.com/job-detail/python-de...
1,BoschLtd,"Coimbatore,Bengaluru/Bangalore",l2 - 5 yrs,Posted 5 days ago,"docker,git,oops,api,rest,python\n",https://www.timesjobs.com/job-detail/python-de...
2,ValueLabs,Hyderabad/Secunderabad,l7 - 10 yrs,Posted few days ago,"\npython,database,shellscripting,perl,unix,sql",https://www.timesjobs.com/job-detail/python-de...
3,TECHNOPARKTRIVANDRUM,Thiruvananthapuram,l4 - 6 yrs,Posted few days ago,"\npython,devops,machinelearning",https://www.timesjobs.com/job-detail/python-aw...
4,SpliceGlobalServicesPvtLtd,Gurgaon,l2 - 5 yrs,Posted 6 days ago,"\npython,django,git,postgresql,oops,linux,mysql",https://www.timesjobs.com/job-detail/python-de...

In [5]:
df.shape

(475, 6)

In [6]:
df.isnull().sum()

company_name    0
location        0
experience      0
posted_date     0
skills          0
more_info       0
dtype: int64

In [7]:
df.to_csv('jobs.csv')